.contenedor{
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h1, h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #e0f7fa;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: calc(100% - 110px);
  padding: 5px;
  margin: 5px 0;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


p {
  background: #fff3cd;
  padding: 10px;
  border: 1px solid #ffeeba;
  border-radius: 5px;
  color: #856404;
}
