<app-catalogo-peliculas></app-catalogo-peliculas>

<p>-------------------------------------------------</p>

<app-gestion-pedidos-restaurante></app-gestion-pedidos-restaurante>

<p>-------------------------------------------------</p>

<app-analisis-datos-meteorologicos></app-analisis-datos-meteorologicos>

<p>-------------------------------------------------</p>
<app-libreria-palabras-clave></app-libreria-palabras-clave>

<p>-------------------------------------------------</p>
<app-banco-clientes></app-banco-clientes>

<p>-------------------------------------------------</p>
<app-zoo-virtual></app-zoo-virtual>

<p>-------------------------------------------------</p>
<app-listado-productos></app-listado-productos>

<p>-------------------------------------------------</p>
<app-clasificacion-palabras-longitud></app-clasificacion-palabras-longitud>

<p>-------------------------------------------------</p>
<app-sistema-vehiculos></app-sistema-vehiculos>

<p>-------------------------------------------------</p>
<app-sistema-empleados-empresa></app-sistema-empleados-empresa>



